In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime

In [2]:
pas = pd.read_csv(r'C:\Users\gosti\Downloads\Telegram Desktop\09-20220927T115737Z-001\09\passerbys.csv')

In [3]:
passe = pd.read_csv(r'C:\Users\gosti\Downloads\Telegram Desktop\09-20220927T115737Z-001\09\passerbys.csv')

In [4]:
weather = pd.read_csv(r'C:\Users\gosti\Downloads\Telegram Desktop\09-20220927T115737Z-001\09\weather.csv')

In [5]:
weather2 = pd.read_csv(r'C:\Users\gosti\Downloads\Telegram Desktop\09-20220927T115737Z-001\09\weather.csv')

**Линейная регрессия (в зависимости от месяца)**

In [6]:
weather2['DATE'] = weather2['DATE'].astype('datetime64')

In [7]:
weather2

           DATE  TAVG  PRCP
0    2000-01-01   4.4   6.9
1    2000-01-02  -3.9   0.0
2    2000-01-03   5.6   7.1
3    2000-01-04   7.8   7.6
4    2000-01-05   5.0   0.0
...         ...   ...   ...
7123 2019-07-03  15.0   0.0
7124 2019-07-04  17.0   0.0
7125 2019-07-05  17.2   0.0
7126 2019-07-06  17.5   0.0
7127 2019-07-07  17.2   0.0

[7128 rows x 3 columns]

In [8]:
weather2= weather2.rename(columns={'DATE' : 'Date'})

In [9]:
weather2 = weather2.set_index('Date')

In [10]:
weather2 = weather2.resample('M').mean()

In [11]:
weather2

                 TAVG      PRCP
Date
2000-01-31   4.429032  3.087097
2000-02-29   6.627586  4.603448
2000-03-31   7.080645  2.316129
2000-04-30  10.640000  1.250000
2000-05-31  12.245161  2.680645
...               ...       ...
2019-03-31   8.654839  1.119355
2019-04-30  11.066667  2.993333
2019-05-31  15.300000  0.509677
2019-06-30  16.760714  0.760000
2019-07-31  17.457143  1.557143

[235 rows x 2 columns]

In [12]:
pas.head()

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
0,2019-06-30 23:00:00,7.0,15.0
1,2019-06-30 22:00:00,20.0,30.0
2,2019-06-30 21:00:00,31.0,32.0
3,2019-06-30 20:00:00,72.0,58.0
4,2019-06-30 19:00:00,58.0,77.0

In [13]:
pas['Date'] = pas['Date'].astype('datetime64')

In [14]:
pas.tail(100)

,Date,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk
58988,2012-10-07 03:00:00,4.0,2.0
58989,2012-10-07 02:00:00,2.0,1.0
58990,2012-10-07 01:00:00,12.0,5.0
58991,2012-10-07 00:00:00,6.0,5.0
58992,2012-10-06 23:00:00,15.0,19.0
...,...,...,...
59083,2012-10-03 04:00:00,6.0,1.0
59084,2012-10-03 03:00:00,2.0,3.0
59085,2012-10-03 02:00:00,1.0,1.0
59086,2012-10-03 01:00:00,4.0,6.0
59087,2012-10-03 00:00:00,4.0,9.0

In [15]:
pas = pas.set_index('Date')

In [16]:
pas = pas.resample('D').sum()

In [17]:
pas1 = pas.index

In [18]:
pas

            Fremont Bridge East Sidewalk  Fremont Bridge West Sidewalk
Date
2012-10-03                        1760.0                        1761.0
2012-10-04                        1708.0                        1767.0
2012-10-05                        1558.0                        1590.0
2012-10-06                        1080.0                         926.0
2012-10-07                        1191.0                         951.0
...                                  ...                           ...
2019-06-26                        1891.0                        3141.0
2019-06-27                        1446.0                        2523.0
2019-06-28                        1753.0                        3044.0
2019-06-29                        1435.0                        1748.0
2019-06-30                        1541.0                        1993.0

[2462 rows x 2 columns]

In [19]:
pas6 = pd.concat([pas, weather2], axis=1, join='inner')

In [20]:
pas6

,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,TAVG,PRCP
Date,,,,
2012-10-31,883.0,827.0,NaN,5.493548
2012-11-30,786.0,804.0,NaN,7.016667
2012-12-31,546.0,440.0,NaN,5.612903
2013-01-31,974.0,947.0,NaN,3.409677
2013-02-28,874.0,885.0,NaN,1.439286
...,...,...,...,...
2019-02-28,1056.0,1685.0,2.621429,4.196429
2019-03-31,1134.0,1230.0,8.654839,1.119355
2019-04-30,1844.0,3084.0,11.066667,2.993333
2019-05-31,2082.0,3235.0,15.300000,0.509677
2019-06-30,1541.0,1993.0,16.760714,0.760000

In [21]:
pas6.dropna()

,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,TAVG,PRCP
Date,,,,
2013-04-30,1757.0,1645.0,10.173333,4.986667
2013-05-31,2296.0,2119.0,14.283871,1.951613
2013-06-30,1488.0,1258.0,17.490000,1.103333
2013-07-31,2090.0,2032.0,19.616129,0.000000
2013-08-31,1204.0,1088.0,20.138710,1.109677
...,...,...,...,...
2019-02-28,1056.0,1685.0,2.621429,4.196429
2019-03-31,1134.0,1230.0,8.654839,1.119355
2019-04-30,1844.0,3084.0,11.066667,2.993333
2019-05-31,2082.0,3235.0,15.300000,0.509677
2019-06-30,1541.0,1993.0,16.760714,0.760000

In [22]:
pas6['count'] = pas6['Fremont Bridge East Sidewalk'] + pas6['Fremont Bridge East Sidewalk']

In [23]:
sns.boxplot(pas6['count'])

NameError: name 'sns' is not defined

In [ ]:
pas6 = pas6['2014-01-31':]

In [ ]:
pas6

In [ ]:
adf_test = adfuller(pas6['count'])
print('p-value = ' + str(adf_test[1]))
if adf_test[1]>0.05:
    print('Ряд не стационарный')
else:
    print('Ряд стационарный')

In [ ]:
pas6['count'].plot()

In [ ]:
pas6['Date1'] = pas6.index

In [ ]:
pas6

In [ ]:
new_dates = pd.date_range('2014-01-31', '2014-12-31', freq='M')
new_dates = pd.Index(pas6['Date1']) | new_dates
df3 = pd.DataFrame({'Date1': new_dates})
df4 = pd.merge(pas6, df3, on='Date1', how='right')

In [ ]:
df4

In [ ]:
pas6['month_num'] = range(1,len(pas6)+1)

In [ ]:
for x in range(1,13):
    pas6['season_' + str(x)] = pas6['Date1'].dt.month == x

In [ ]:
season_columns = ['season_' + str(x) for x in range(1,13)]
X1 = pas6[['month_num'] + season_columns]
Y1 = pas6['count']

In [ ]:
X1_train, X1_test, Y1_train, Y1_test = train_test_split(X1, Y1, test_size=0.2, random_state=0)

In [ ]:
model.fit(X1_train, Y1_train)

In [ ]:
test_pred1 = model.predict(X1_test)

In [ ]:
Y1.plot(legend=True,label='REAL')
Y1_train.plot(legend=True,label='TRAIN')
test_pred1.plot(legend=True,label='TEST', figsize=(6,4))
test_predictions_add.plot(legend=True,label='PREDICTION')
plt.title('Train, Test and Predicted Test')

In [ ]:
mae3 = mean_absolute_error(Y1_test, test_pred1)
mse3 = mean_squared_error(Y1_test, test_pred1)
R2 = r2_score(Y1_test, test_pred1)
print('MAE = ', np.round(mae3, 3))
print('MSE =', np.round(mse3, 3))
print('Коэффициент детерминации =', np.round(R2, 3))

In [ ]:
pas.index

In [ ]:
pas2 = pd.DataFrame(pas1.dayofweek)

In [ ]:
pas2

In [ ]:
pas2.index = pas.index

In [ ]:
pas2

In [ ]:
pas3 = pd.concat([pas, pas2], axis=1, join='inner')

In [ ]:
pas3 = pas3.drop(columns=pas3[['dayofweek']])

In [ ]:
pas3.rename(columns={'Date' : 'Dayofweek'})

In [ ]:
pas3.tail()

In [ ]:
weather.head(100)

In [ ]:
weather.rename(columns={'DATE' : 'Date'}, inplace=True)

In [ ]:
weather = weather.set_index('Date')

In [ ]:
weather = weather['2012-10-03':'2019-06-30']

In [ ]:
weather

In [ ]:
pas3.rename(columns={'Date' : 'Dayofweek'}, inplace=True)

In [ ]:
weather.index = weather.index.astype(str)
pas3.index = pas3.index.astype(str)

In [ ]:
weather

In [ ]:
pas3

In [ ]:
df = pd.merge(weather, how='inner',right=pas3,left_on=weather.index,right_on=pas3.index)

In [ ]:
df.rename(columns={'key_0' : 'Date'}, inplace=True)
df = df.set_index('Date')

In [ ]:
df

In [ ]:
df = df.dropna(axis=0)

In [ ]:
df['count'] = df['Fremont Bridge East Sidewalk'] + df['Fremont Bridge East Sidewalk']

In [ ]:
df

In [ ]:
df1 = df.groupby('Dayofweek')['count'].mean()

In [ ]:
df1

In [ ]:

df1.plot(title='Среднее кол-во людей, проходящих через мост')

In [ ]:
df['Fremont Bridge East Sidewalk'].plot(figsize=(9,6))

In [ ]:
import seaborn as sns

In [ ]:
sns.boxplot(df['count'])

In [ ]:
print(np.where(df['count']>6000))

In [ ]:
df.iloc[[395, 407, 408, 410]]

In [ ]:
df = df.drop(index = ['2014-05-01', '2014-05-13', '2014-05-14', '2014-05-16'])

In [ ]:
df

In [ ]:
df['count'].plot()

In [ ]:
from statsmodels.tsa.stattools import adfuller

In [ ]:
adf_test = adfuller(df['count'])
print('p-value = ' + str(adf_test[1]))
if adf_test[1]>0.05:
    print('Ряд не стационарный')
else:
    print('Ряд стационарный')

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
model = LinearRegression()

In [ ]:
X = df[['TAVG']][-365:]
Y = df['count'][-365:]

In [ ]:
X

In [ ]:
Y.plot()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [ ]:
model.fit(X_train, Y_train)

In [ ]:
test_pred = pd.DataFrame(model.predict(X_test))

In [ ]:
Y

In [ ]:
Y_train

In [ ]:
Y.plot(legend=True,label='REAL')
Y_train.plot(legend=True,label='TRAIN')
test_pred.plot(legend=True,label='TEST', figsize=(6,4))
plt.title('Train, Test and Predicted Test')

In [ ]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [ ]:
mae = mean_absolute_error(Y_test, test_pred)
mse = mean_squared_error(Y_test, test_pred)
R2 = r2_score(Y_test, test_pred)
print('MAE = ', np.round(mae, 3))
print('MSE =', np.round(mse, 3))
print('Коэффициент детерминации =', np.round(R2, 3))

In [ ]:
X2 = df[['TAVG', 'Dayofweek']][-730:]
Y2 = df['count'][-730:]

In [ ]:
X2_train, X2_test, Y2_train, Y2_test = train_test_split(X2, Y2, test_size=0.2, random_state=0)

In [ ]:
model.fit(X2_train, Y2_train)

In [ ]:
test_pred2 = pd.DataFrame(model.predict(X2_test))

In [ ]:
mae2 = mean_absolute_error(Y2_test, test_pred2)
mse2 = mean_squared_error(Y2_test, test_pred2)
R2 = r2_score(Y_test, test_pred)
print('MAE = ', np.round(mae2, 3))
print('MSE =', np.round(mse2, 3))
print('Коэффициент детерминации =', np.round(R2, 3))