In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import seaborn as sns

In [23]:
pas = pd.read_csv(r'C:\Users\gosti\Downloads\Telegram Desktop\09-20220927T115737Z-001\09\passerbys.csv')

In [24]:
weather = pd.read_csv(r'C:\Users\gosti\Downloads\Telegram Desktop\09-20220927T115737Z-001\09\weather.csv')

In [25]:
pas['Date'] = pas['Date'].astype('datetime64')

In [26]:
pas = pas.set_index('Date')

In [27]:
pas = pas.resample('D').sum()

In [28]:
pas1 = pas.index

In [29]:
pas

            Fremont Bridge East Sidewalk  Fremont Bridge West Sidewalk
Date
2012-10-03                        1760.0                        1761.0
2012-10-04                        1708.0                        1767.0
2012-10-05                        1558.0                        1590.0
2012-10-06                        1080.0                         926.0
2012-10-07                        1191.0                         951.0
...                                  ...                           ...
2019-06-26                        1891.0                        3141.0
2019-06-27                        1446.0                        2523.0
2019-06-28                        1753.0                        3044.0
2019-06-29                        1435.0                        1748.0
2019-06-30                        1541.0                        1993.0

[2462 rows x 2 columns]

In [30]:
pas2 = pd.DataFrame(pas1.dayofweek)

In [31]:
pas2

      Date
0        2
1        3
2        4
3        5
4        6
...    ...
2457     2
2458     3
2459     4
2460     5
2461     6

[2462 rows x 1 columns]

In [33]:
pas2.index = pas.index

In [34]:
pas2.index = pas.index

In [35]:
pas3 = pd.concat([pas, pas2], axis=1, join='inner')

In [36]:
pas3.rename(columns={'Date' : 'Dayofweek'})

,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,Dayofweek
Date,,,
2012-10-03,1760.0,1761.0,2
2012-10-04,1708.0,1767.0,3
2012-10-05,1558.0,1590.0,4
2012-10-06,1080.0,926.0,5
2012-10-07,1191.0,951.0,6
...,...,...,...
2019-06-26,1891.0,3141.0,2
2019-06-27,1446.0,2523.0,3
2019-06-28,1753.0,3044.0,4
2019-06-29,1435.0,1748.0,5
2019-06-30,1541.0,1993.0,6

In [37]:
weather['DATE'] = weather['DATE'].astype('datetime64')

In [38]:
weather.rename(columns={'DATE' : 'Date'}, inplace=True)

In [39]:
weather = weather.set_index('Date')

In [40]:
weather = weather['2012-10-03':'2019-06-30']

In [41]:
weather.index = weather.index.astype(str)
pas3.index = pas3.index.astype(str)

In [55]:
df = pd.merge(weather, how='inner',right=pas3,left_on=weather.index,right_on=pas3.index)

In [56]:
df

,key_0,TAVG,PRCP,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,Date
0,2012-10-03,NaN,0.0,1760.0,1761.0,2
1,2012-10-04,NaN,0.0,1708.0,1767.0,3
2,2012-10-05,NaN,0.0,1558.0,1590.0,4
3,2012-10-06,NaN,0.0,1080.0,926.0,5
4,2012-10-07,NaN,0.0,1191.0,951.0,6
...,...,...,...,...,...,...
2457,2019-06-26,NaN,0.3,1891.0,3141.0,2
2458,2019-06-27,NaN,2.0,1446.0,2523.0,3
2459,2019-06-28,16.1,0.0,1753.0,3044.0,4
2460,2019-06-29,18.0,0.0,1435.0,1748.0,5
2461,2019-06-30,19.8,0.0,1541.0,1993.0,6

In [57]:
df.rename(columns={'Date' : 'Dayofweek'}, inplace=True)
df.rename(columns={'key_0' : 'Date'}, inplace=True)

In [58]:
df

,Date,TAVG,PRCP,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,Dayofweek
0,2012-10-03,NaN,0.0,1760.0,1761.0,2
1,2012-10-04,NaN,0.0,1708.0,1767.0,3
2,2012-10-05,NaN,0.0,1558.0,1590.0,4
3,2012-10-06,NaN,0.0,1080.0,926.0,5
4,2012-10-07,NaN,0.0,1191.0,951.0,6
...,...,...,...,...,...,...
2457,2019-06-26,NaN,0.3,1891.0,3141.0,2
2458,2019-06-27,NaN,2.0,1446.0,2523.0,3
2459,2019-06-28,16.1,0.0,1753.0,3044.0,4
2460,2019-06-29,18.0,0.0,1435.0,1748.0,5
2461,2019-06-30,19.8,0.0,1541.0,1993.0,6

In [59]:
df = df.set_index('Date')

In [60]:
df = df.dropna(axis=0)

In [61]:
df['count'] = df['Fremont Bridge East Sidewalk'] + df['Fremont Bridge East Sidewalk']

In [62]:
df

,TAVG,PRCP,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,Dayofweek,count
Date,,,,,,
2013-04-01,12.8,0.0,1654.0,1594.0,0,3308.0
2013-04-02,11.5,0.0,1685.0,1602.0,1,3370.0
2013-04-03,11.7,0.0,1739.0,1747.0,2,3478.0
2013-04-04,12.0,8.4,1016.0,991.0,3,2032.0
2013-04-05,12.2,18.5,914.0,928.0,4,1828.0
...,...,...,...,...,...,...
2019-06-24,14.7,0.0,1862.0,3086.0,0,3724.0
2019-06-25,16.6,0.0,2294.0,3766.0,1,4588.0
2019-06-28,16.1,0.0,1753.0,3044.0,4,3506.0
2019-06-29,18.0,0.0,1435.0,1748.0,5,2870.0
2019-06-30,19.8,0.0,1541.0,1993.0,6,3082.0

In [130]:
df1 = df[df['PRCP']>0]

In [131]:
df1

,TAVG,PRCP,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,Dayofweek,count
Date,,,,,,
2013-04-04,12.0,8.4,1016.0,991.0,3,2032.0
2013-04-05,12.2,18.5,914.0,928.0,4,1828.0
2013-04-06,9.8,12.7,429.0,360.0,5,858.0
2013-04-07,7.2,39.1,314.0,263.0,6,628.0
2013-04-08,7.7,0.8,1334.0,1355.0,0,2668.0
...,...,...,...,...,...,...
2019-06-06,13.6,0.3,1831.0,2883.0,3,3662.0
2019-06-07,13.2,2.5,1241.0,2046.0,4,2482.0
2019-06-18,17.2,5.3,1469.0,2467.0,1,2938.0
2019-06-19,15.1,2.0,2029.0,3343.0,2,4058.0
2019-06-20,14.1,10.4,1817.0,3091.0,3,3634.0

In [132]:
data = pd.get_dummies(df1, columns=['Dayofweek'])

In [133]:
data

,TAVG,PRCP,Fremont Bridge East Sidewalk,Fremont Bridge West Sidewalk,count,Dayofweek_0,Dayofweek_1,Dayofweek_2,Dayofweek_3,Dayofweek_4,Dayofweek_5,Dayofweek_6
Date,,,,,,,,,,,,
2013-04-04,12.0,8.4,1016.0,991.0,2032.0,0,0,0,1,0,0,0
2013-04-05,12.2,18.5,914.0,928.0,1828.0,0,0,0,0,1,0,0
2013-04-06,9.8,12.7,429.0,360.0,858.0,0,0,0,0,0,1,0
2013-04-07,7.2,39.1,314.0,263.0,628.0,0,0,0,0,0,0,1
2013-04-08,7.7,0.8,1334.0,1355.0,2668.0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
2019-06-06,13.6,0.3,1831.0,2883.0,3662.0,0,0,0,1,0,0,0
2019-06-07,13.2,2.5,1241.0,2046.0,2482.0,0,0,0,0,1,0,0
2019-06-18,17.2,5.3,1469.0,2467.0,2938.0,0,1,0,0,0,0,0
2019-06-19,15.1,2.0,2029.0,3343.0,4058.0,0,0,1,0,0,0,0
2019-06-20,14.1,10.4,1817.0,3091.0,3634.0,0,0,0,1,0,0,0

In [134]:
data.rename(columns={'key_0' : 'Date','Dayofweek_0':'D1','Dayofweek_1':'D2','Dayofweek_2': 'D3','Dayofweek_3': 'D4','Dayofweek_4': 'D5','Dayofweek_5': 'D6','Dayofweek_6':'D7'}, inplace=True)

In [135]:
from datetime import date

In [136]:
Y

Date
2013-04-01    3308.0
2013-04-02    3370.0
2013-04-03    3478.0
2013-04-04    2032.0
2013-04-05    1828.0
               ...
2019-06-24    3724.0
2019-06-25    4588.0
2019-06-28    3506.0
2019-06-29    2870.0
2019-06-30    3082.0
Name: count, Length: 2280, dtype: float64

In [137]:
data[['TAVG', 'PRCP', 'D1', 'D2', 'D3','D4','D5','D6','D7']]

            TAVG  PRCP  D1  D2  D3  D4  D5  D6  D7
Date
2013-04-04  12.0   8.4   0   0   0   1   0   0   0
2013-04-05  12.2  18.5   0   0   0   0   1   0   0
2013-04-06   9.8  12.7   0   0   0   0   0   1   0
2013-04-07   7.2  39.1   0   0   0   0   0   0   1
2013-04-08   7.7   0.8   1   0   0   0   0   0   0
...          ...   ...  ..  ..  ..  ..  ..  ..  ..
2019-06-06  13.6   0.3   0   0   0   1   0   0   0
2019-06-07  13.2   2.5   0   0   0   0   1   0   0
2019-06-18  17.2   5.3   0   1   0   0   0   0   0
2019-06-19  15.1   2.0   0   0   1   0   0   0   0
2019-06-20  14.1  10.4   0   0   0   1   0   0   0

[958 rows x 9 columns]

In [138]:
X = data[['TAVG', 'PRCP', 'D1', 'D2', 'D3','D4','D5','D6','D7']]
Y = data['count']

In [139]:
from sklearn.model_selection import train_test_split

In [140]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [141]:
from sklearn.linear_model import LinearRegression

In [142]:
model = LinearRegression()

In [143]:
model.fit(X_train, Y_train)

LinearRegression()

In [144]:
Y_pred = model.predict(X_test)

In [145]:
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error

In [146]:
MAE = mean_absolute_error(Y_test, Y_pred)
MSE = mean_squared_error(Y_test, Y_pred)
R2 = r2_score(Y_test, Y_pred)
print('MAE = ', np.round(MAE, 3))
print('MSE =', np.round(MSE, 3))
print('Коэффициент детерминации =', np.round(R2, 3))

MAE =  383.458
MSE = 268974.41
Коэффициент детерминации = 0.695

In [147]:
model.intercept_

1025.765441415583

In [148]:
model.coef_

array([ 107.49374248,  -29.78987404,  372.6273339 ,  550.51484967,
        462.28485712,  356.03714495,   78.39580502, -855.45658939,
       -964.40340126])

Ридж-регрессия
=

In [149]:
from sklearn.linear_model import Ridge, Lasso
from sklearn.model_selection import GridSearchCV

In [150]:
ridge = Ridge()
parameters = {
    'alpha': np.arange(1, 10)
}
grid = GridSearchCV(ridge, parameters, scoring='neg_mean_squared_error', cv=5)
grid.fit(X_train, Y_train)

GridSearchCV(cv=5, estimator=Ridge(),
             param_grid={'alpha': array([1, 2, 3, 4, 5, 6, 7, 8, 9])},
             scoring='neg_mean_squared_error')

In [151]:
grid.cv_results_

{'mean_fit_time': array([0.02187128, 0.00625477, 0.00936627, 0.00739489, 0.02479191,
        0.01047978, 0.00551825, 0.0031703 , 0.00379243]),
 'std_fit_time': array([0.03643438, 0.0076605 , 0.00764754, 0.00923572, 0.03467496,
        0.00679996, 0.00685694, 0.00437925, 0.00605611]),
 'mean_score_time': array([0.00312295, 0.        , 0.        , 0.00630088, 0.00805283,
        0.00553594, 0.00937352, 0.01052179, 0.00592732]),
 'std_score_time': array([0.0062459 , 0.        , 0.        , 0.00771745, 0.01610565,
        0.0050837 , 0.00765345, 0.00650581, 0.00736253]),
 'param_alpha': masked_array(data=[1, 2, 3, 4, 5, 6, 7, 8, 9],
              mask=[False, False, False, False, False, False, False, False,
                    False],
        fill_value='?',
             dtype=object),
 'params': [{'alpha': 1},
  {'alpha': 2},
  {'alpha': 3},
  {'alpha': 4},
  {'alpha': 5},
  {'alpha': 6},
  {'alpha': 7},
  {'alpha': 8},
  {'alpha': 9}],
 'split0_test_score': array([-268238.95559766, -268547.8089326 , -268923.0148316 ,
        -269360.11208784, -269854.9269685 , -270403.55298062,
        -271002.33221991, -271647.83816513, -272336.85979401]),
 'split1_test_score': array([-266057.53308777, -266895.70496909, -267801.43997469,
        -268769.62791212, -269795.50977515, -270874.65163419,
        -272002.92067976, -273176.46322207, -274391.6844698 ]),
 'split2_test_score': array([-248618.58468185, -249307.07786017, -250065.0223524 ,
        -250887.35181508, -251769.34067497, -252706.57930501,
        -253694.95120369, -254730.61199891, -255809.97011493]),
 'split3_test_score': array([-336278.56525942, -335941.82107209, -335694.15564393,
        -335529.92296687, -335443.84383884, -335430.97931267,
        -335486.7063024 , -335606.69515171, -335786.88898809]),
 'split4_test_score': array([-282871.73195199, -281832.40021594, -280918.85904883,
        -280123.32515338, -279438.52782506, -278857.67083982,
        -278374.39754851, -277982.75887519, -277677.1839482 ]),
 'mean_test_score': array([-280413.07411574, -280504.96260998, -280680.49837029,
        -280934.06798706, -281260.4298165 , -281654.68681446,
        -282112.26159085, -282628.8734826 , -283200.517463  ]),
 'std_test_score': array([29973.91658539, 29585.47210105, 29216.34897983, 28865.55003852,
        28532.14295319, 28215.25485488, 27914.06745636, 27627.81265297,
        27355.76854694]),
 'rank_test_score': array([1, 2, 3, 4, 5, 6, 7, 8, 9])}

In [152]:
grid.best_params_

{'alpha': 1}

In [153]:
ridge_best = Ridge(**grid.best_params_)
ridge_best.fit(X_train, Y_train)
mean_squared_error(Y_test, ridge_best.predict(X_test))

268631.2599026105

Lasso
=

In [154]:
lasso = Lasso()
parameters = {
    'alpha': np.arange(1, 10)
}
grid = GridSearchCV(lasso, parameters, scoring='neg_mean_squared_error', cv=5)
grid.fit(X_train, Y_train);

In [155]:
lasso_best = Lasso(**grid.best_params_)
lasso_best.fit(X_train, Y_train)
mean_squared_error(Y_test, lasso_best.predict(X_test))

268623.4108667053

In [157]:
from scipy.stats import ttest_ind

In [161]:
ttest_ind(X_train, X_test)

Ttest_indResult(statistic=array([ 0.35722257,  0.83136968, -1.23748718,  1.55384318, -2.00294042,
        0.82829457, -0.07544612,  0.96965443, -0.12500834]), pvalue=array([0.72100403, 0.40597242, 0.21621013, 0.1205528 , 0.04546562,
       0.40771043, 0.93987555, 0.33246402, 0.90054323]))