In [15]:
import numpy as np
import pandas as pd
import os

In [16]:
df = pd.read_csv(r'C:\Users\gosti\Downloads\Telegram Desktop\results\results\Adygeja_Resp_2022-03-20.csv', encoding = 'utf-8')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6364 entries, 0 to 6363
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       6364 non-null   int64
 1   obj hash         6364 non-null   int64
 2   name             6364 non-null   object
 3   reg num          6364 non-null   int64
 4   customer inn     6364 non-null   int64
 5   sign date        6364 non-null   object
 6   suppliers count  6364 non-null   int64
 7   supplier inn     6355 non-null   float64
 8   st date          6364 non-null   object
 9   end date         6364 non-null   object
 10  price            6364 non-null   float64
 11  enforcement      6364 non-null   int64
 12  amount           6364 non-null   float64
 13  doc              6335 non-null   object
 14  protocol date    6293 non-null   object
dtypes: float64(3), int64(6), object(6)
memory usage: 745.9+ KB

In [17]:
df[['sign date', 'st date', 'end date']] = df[['sign date', 'st date', 'end date']].apply(pd.to_datetime)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6364 entries, 0 to 6363
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       6364 non-null   int64
 1   obj hash         6364 non-null   int64
 2   name             6364 non-null   object
 3   reg num          6364 non-null   int64
 4   customer inn     6364 non-null   int64
 5   sign date        6364 non-null   datetime64[ns]
 6   suppliers count  6364 non-null   int64
 7   supplier inn     6355 non-null   float64
 8   st date          6364 non-null   datetime64[ns]
 9   end date         6364 non-null   datetime64[ns]
 10  price            6364 non-null   float64
 11  enforcement      6364 non-null   int64
 12  amount           6364 non-null   float64
 13  doc              6335 non-null   object
 14  protocol date    6293 non-null   object
dtypes: datetime64[ns](3), float64(3), int64(6), object(3)
memory usage: 745.9+ KB

In [18]:
df = df.drop(columns=['customer inn', 'supplier inn', 'protocol date', 'doc'])
df = df.drop_duplicates(subset='reg num')
df = df.assign(bg=df.price / df.amount)
df = df[df.bg <= 1]
df.tail()

,Unnamed: 0,obj hash,name,reg num,sign date,suppliers count,st date,end date,price,enforcement,amount,bg
2618,2618,2990506132419929638,contracts_output,3010100215621000110,2021-12-20,1,2021-12-20,2021-12-31,139472.67,0,139472.67,1.000000
3964,3964,3282453306607635055,contracts_output,3010400830020000019,2020-09-23,1,2020-09-23,2020-12-31,94111.75,0,94111.75,1.000000
4611,4611,-8881755931885313735,contracts_output,3010503414121000005,2021-06-07,1,2021-06-07,2021-12-31,195500.00,1,230000.00,0.850000
4940,4940,-6045479158888222238,contracts_output,3010503474421000049,2021-12-20,1,2021-12-20,2022-09-21,21473.59,0,24977.75,0.859709
5294,5294,6158923093362237096,contracts_output,3010503896421000003,2021-06-28,1,2021-06-28,2022-01-31,196515.62,0,196515.62,1.000000

In [19]:
df = df.rename(columns = {'obj hash': 'obj_hash',
                     'reg num': 'reg_num',
                     'sign date': 'sign_date',
                     'suppliers count': 'suppliers_count',
                     'st date': 'st_date',
                     'end date': 'end_date'})

In [20]:
import math

In [22]:
df.groupby(pd.Grouper(key = 'end_date', axis =0,
                      freq='M')).sum()

,Unnamed: 0,obj_hash,reg_num,suppliers_count,price,enforcement,amount,bg
end_date,,,,,,,,
2020-12-31,3964,3282453306607634944,3010400830020000256,1,94111.75,0,94111.75,1.000000
2021-01-31,0,0,0,0,0.00,0,0.00,0.000000
2021-02-28,0,0,0,0,0.00,0,0.00,0.000000
2021-03-31,0,0,0,0,0.00,0,0.00,0.000000
2021-04-30,0,0,0,0,0.00,0,0.00,0.000000
2021-05-31,0,0,0,0,0.00,0,0.00,0.000000
2021-06-30,0,0,0,0,0.00,0,0.00,0.000000
2021-07-31,0,0,0,0,0.00,0,0.00,0.000000
2021-08-31,0,0,0,0,0.00,0,0.00,0.000000
2021-09-30,1142,-1894050369019973632,2010501406420999936,1,81490.50,0,81490.50,1.000000
2021-10-31,2267,-7325695340427526144,2010503349020999936,1,1183800.00,0,1183800.00,1.000000
2021-11-30,0,0,0,0,0.00,0,0.00,0.000000
2021-12-31,9198,-833560445593280512,8031106226263000064,3,1720652.67,1,1755152.67,2.850000
2022-01-31,5294,6158923093362237440,3010503896421000192,1,196515.62,0,196515.62,1.000000
2022-02-28,0,0,0,0,0.00,0,0.00,0.000000
2022-03-31,0,0,0,0,0.00,0,0.00,0.000000
2022-04-30,0,0,0,0,0.00,0,0.00,0.000000
2022-05-31,0,0,0,0,0.00,0,0.00,0.000000
2022-06-30,0,0,0,0,0.00,0,0.00,0.000000
2022-07-31,0,0,0,0,0.00,0,0.00,0.000000
2022-08-31,0,0,0,0,0.00,0,0.00,0.000000
2022-09-30,4940,-6045479158888222720,3010503474421000192,1,21473.59,0,24977.75,0.859709
2022-10-31,0,0,0,0,0.00,0,0.00,0.000000
2022-11-30,0,0,0,0,0.00,0,0.00,0.000000
2022-12-31,2118,139290527350354544,2010502596522000128,1,312000.00,0,500108.18,0.623865

In [23]:
import os

In [24]:
files = os.listdir('C:\\Users\\gosti\\Downloads\\Telegram Desktop\\results\\results')

In [27]:
dfs = []
for f in files:
    df1 = pd.read_csv('C:\\Users\\gosti\\Downloads\\Telegram Desktop\\results\\results\\Adygeja_Resp_2022-03-20.csv', encoding = 'utf-8')
    dfs.append(df1)

In [28]:
type(dfs)

list